body {
	font-family: Verdana, Arial;
}

a {
	text-decoration: none;
}

#avatar {
	background-image: url('http://www.gravatar.com/avatar/3df1a963f63de61ce366f162f9e36d27?s=250');
}

.header  {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
}

.headerimage {
	width: 250px;
	margin: auto;
}

.header h1 {
	font-size: 3em;
	margin-bottom: 8px;
}

h2 {
	font-size: 2.2em;
	text-decoration: underline;
}

.content {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
}

.imglink {
	padding-top: 16px;
	padding-bottom: 16px;
}

.imglink a {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#leftcolumn {
	width: 50%;
	float: left;
}

#rightcolumn {
	width: 50%;
	float: left;
	clear: right;
}